In [34]:
import pandas as pd
from scipy import sparse
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.datasets import load_iris
from sklearn.tree import DecisionTreeClassifier

In [33]:
ratings = pd.read_csv("dataset/ordered_data_small.csv")
ratings

,movie,user1,user2,user3,user4,user5,user6,user7,user8,user9,...,comedy,fantasy,romance,drama,thriller,crime,horror,mystery,scifi,action
0,Toy Story (1995),1,4,5,1,5,0,2,5,5,...,1,1,0,0,0,0,0,0,0,0
1,Jumanji (1995),4,4,5,2,3,5,3,1,3,...,0,1,0,0,0,0,0,0,0,0
2,Grumpier Old Men (1995),0,5,3,2,0,5,5,3,5,...,1,0,1,0,0,0,0,0,0,0
3,Waiting to Exhale (1995),5,3,2,4,2,4,3,0,4,...,1,0,0,1,0,0,0,0,0,0
4,Father of the Bride Part II (1995),3,0,4,3,1,4,0,1,2,...,1,0,0,0,0,0,0,0,0,0
5,Heat (1995),5,1,2,2,0,3,1,5,3,...,0,0,0,0,1,1,0,0,0,1
6,Sabrina (1995),3,4,5,1,0,1,4,5,2,...,1,0,1,0,0,0,0,0,0,0
7,Tom and Huck (1995),4,3,3,3,0,0,0,4,1,...,0,0,0,0,0,0,0,0,0,0
8,Sudden Death (1995),3,2,5,2,4,0,2,0,5,...,0,0,0,0,0,0,0,0,0,1
9,GoldenEye (1995),5,4,4,2,2,5,5,3,3,...,0,0,0,0,1,0,0,0,0,1
10,"American President, The (1995)",5,4,4,2,4,3,0,0,4,...,1,0,1,1,0,0,0,0,0,0
11,Dracula: Dead and Loving It (1995),2,5,5,5,3,3,1,1,4,...,1,0,0,0,0,0,1,0,0,0
12,Balto (1995),2,2,5,5,2,3,0,3,4,...,0,0,0,0,0,0,0,0,0,0
13,Nixon (1995),5,2,0,1,3,4,1,3,3,...,0,0,0,1,0,0,0,0,0,0
14,Cutthroat Island (1995),3,3,0,3,0,2,5,2,0,...,0,0,1,0,0,0,0,0,0,1
15,Casino (1995),5,5,3,5,3,0,0,3,0,...,0,0,0,1,0,1,0,0,0,0
16,Sense and Sensibility (1995),5,5,1,2,4,2,0,2,1,...,0,0,1,1,0,0,0,0,0,0
17,Four Rooms (1995),0,0,1,0,5,4,2,2,0,...,1,0,0,0,0,0,0,0,0,0

In [3]:
unique_user = ratings.userId.unique()
unique_movies = ratings.movieId.unique()

In [4]:
unique_movies

array([     1,      3,      6, ..., 160836, 163937, 163981], dtype=int64)

In [5]:
len(unique_movies)

9724

In [6]:
ratings_dataset = pd.DataFrame()

In [7]:
ratings_dataset['user'] = unique_user

In [8]:
ratings_dataset = pd.DataFrame(ratings_dataset, columns = unique_movies)

In [9]:
ratings_dataset = ratings_dataset.assign(user = unique_user)
ratings_dataset = ratings_dataset.fillna(0)
ratings_dataset

,1,3,6,47,50,70,101,110,151,157,...,148166,149011,152372,158721,160341,160527,160836,163937,163981,user
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,606
606,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,607
607,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,608
608,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,609
609,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,610

In [10]:
for row in ratings.iterrows():
    user = row[1].userId
    movie = row[1].movieId
    rating = row[1].rating
    
    ratings_dataset.at[user-1,movie] = rating

In [11]:
ratings_dataset = ratings_dataset.set_index('user')
ratings_dataset

,1,3,6,47,50,70,101,110,151,157,...,147662,148166,149011,152372,158721,160341,160527,160836,163937,163981
user,,,,,,,,,,,,,,,,,,,,,
1,4.0,4.0,4.0,5.0,5.0,3.0,5.0,4.0,5.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,0.0,0.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,0.0,0.0,3.0,4.5,4.0,0.0,3.5,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
607,4.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
608,2.5,2.0,0.0,4.5,4.5,3.0,0.0,4.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
609,3.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
610,5.0,0.0,5.0,5.0,4.0,4.0,0.0,4.5,0.0,0.0,...,3.0,3.5,3.5,3.5,3.5,2.5,4.5,3.0,3.5,3.5

In [12]:
def standardize(row):
    new_row = (row-row.mean())/(row.max()-row.min())
    return new_row

ratings_dataset = ratings_dataset.apply(standardize)
ratings_dataset

,1,3,6,47,50,70,101,110,151,157,...,147662,148166,149011,152372,158721,160341,160527,160836,163937,163981
user,,,,,,,,,,,,,,,,,,,,,
1,0.523607,0.744426,0.668033,0.73541,0.716557,0.536721,0.971475,0.486721,0.948852,0.989672,...,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639
2,-0.276393,-0.055574,-0.131967,-0.26459,-0.283443,-0.063279,-0.028525,-0.313279,-0.051148,-0.010328,...,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639
3,-0.276393,-0.055574,-0.131967,-0.26459,-0.283443,-0.063279,-0.028525,-0.313279,-0.051148,-0.010328,...,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639
4,-0.276393,-0.055574,-0.131967,0.13541,-0.283443,-0.063279,-0.028525,-0.313279,-0.051148,-0.010328,...,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639
5,0.523607,-0.055574,-0.131967,-0.26459,0.516557,-0.063279,-0.028525,0.486721,-0.051148,-0.010328,...,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,0.223607,-0.055574,-0.131967,0.33541,0.616557,0.736721,-0.028525,0.386721,-0.051148,0.789672,...,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639
607,0.523607,-0.055574,-0.131967,-0.26459,-0.283443,-0.063279,-0.028525,0.686721,-0.051148,-0.010328,...,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639
608,0.223607,0.344426,-0.131967,0.63541,0.616557,0.536721,-0.028525,0.486721,-0.051148,-0.010328,...,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639
609,0.323607,-0.055574,-0.131967,-0.26459,-0.283443,-0.063279,-0.028525,0.286721,-0.051148,-0.010328,...,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639
610,0.723607,-0.055574,0.868033,0.73541,0.516557,0.736721,-0.028525,0.586721,-0.051148,-0.010328,...,0.998361,0.998361,0.998361,0.998361,0.998361,0.998361,0.998361,0.998361,0.998361,0.998361

In [13]:
item_similarity = cosine_similarity(ratings_dataset.T)
print(item_similarity)

[[ 1.          0.1732128   0.1926856  ...  0.07567602  0.07567602
   0.07567602]
 [ 0.1732128   1.          0.196442   ... -0.01172923 -0.01172923
  -0.01172923]
 [ 0.1926856   0.196442    1.         ...  0.11650085  0.11650085
   0.11650085]
 ...
 [ 0.07567602 -0.01172923  0.11650085 ...  1.          1.
   1.        ]
 [ 0.07567602 -0.01172923  0.11650085 ...  1.          1.
   1.        ]
 [ 0.07567602 -0.01172923  0.11650085 ...  1.          1.
   1.        ]]

In [ ]:
#item to item collaborative approach

In [15]:
item_similarity_df = pd.DataFrame(item_similarity, index=ratings_dataset.columns, columns= ratings_dataset.columns)

In [16]:
item_similarity_df

,1,3,6,47,50,70,101,110,151,157,...,147662,148166,149011,152372,158721,160341,160527,160836,163937,163981
1,1.000000,0.173213,0.192686,0.165262,0.165685,0.096774,0.131950,0.199288,0.080195,0.102022,...,0.075676,0.075676,0.075676,0.075676,0.075676,0.075676,0.075676,0.075676,0.075676,0.075676
3,0.173213,1.000000,0.196442,0.155253,0.059321,0.092534,0.124154,0.107600,0.125923,0.174479,...,-0.011729,-0.011729,-0.011729,-0.011729,-0.011729,-0.011729,-0.011729,-0.011729,-0.011729,-0.011729
6,0.192686,0.196442,1.000000,0.315134,0.304064,0.299694,0.110950,0.296700,0.188984,0.171025,...,0.116501,0.116501,0.116501,0.116501,0.116501,0.116501,0.116501,0.116501,0.116501,0.116501
47,0.165262,0.155253,0.315134,1.000000,0.380085,0.263072,0.118770,0.379643,0.150562,0.156161,...,0.076529,0.076529,0.076529,0.076529,0.076529,0.076529,0.076529,0.076529,0.076529,0.076529
50,0.165685,0.059321,0.304064,0.380085,1.000000,0.252887,0.196405,0.198772,0.133657,0.146754,...,0.051003,0.051003,0.051003,0.051003,0.051003,0.051003,0.051003,0.051003,0.051003,0.051003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160341,0.075676,-0.011729,0.116501,0.076529,0.051003,0.142222,-0.007734,0.057841,-0.010893,-0.005152,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
160527,0.075676,-0.011729,0.116501,0.076529,0.051003,0.142222,-0.007734,0.057841,-0.010893,-0.005152,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
160836,0.075676,-0.011729,0.116501,0.076529,0.051003,0.142222,-0.007734,0.057841,-0.010893,-0.005152,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
163937,0.075676,-0.011729,0.116501,0.076529,0.051003,0.142222,-0.007734,0.057841,-0.010893,-0.005152,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
163981,0.075676,-0.011729,0.116501,0.076529,0.051003,0.142222,-0.007734,0.057841,-0.010893,-0.005152,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [25]:
def get_similar_movies(movie_id,user_rating):
    similar_score = item_similarity_df[movie_id]*user_rating
    similar_score = similar_score.sort_values(ascending=False)
    return similar_score

In [26]:
print(get_similar_movies(1,1))

1         1.000000
3114      0.461761
1265      0.361540
780       0.358473
1073      0.357314
            ...
86781    -0.064447
96829    -0.067001
92259    -0.074234
116897   -0.079089
55908    -0.081078
Name: 1, Length: 9724, dtype: float64

In [28]:
print(get_similar_movies(5,1))

5         1.000000
79        0.445647
7         0.429890
762       0.386356
277       0.376565
            ...
44555    -0.053485
858      -0.053628
2858     -0.054792
116797   -0.057916
2571     -0.086287
Name: 5, Length: 9724, dtype: float64

,1,3,6,47,50,70,101,110,151,157,...,147662,148166,149011,152372,158721,160341,160527,160836,163937,163981
user,,,,,,,,,,,,,,,,,,,,,
1,0.523607,0.744426,0.668033,0.73541,0.716557,0.536721,0.971475,0.486721,0.948852,0.989672,...,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639
2,-0.276393,-0.055574,-0.131967,-0.26459,-0.283443,-0.063279,-0.028525,-0.313279,-0.051148,-0.010328,...,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639
3,-0.276393,-0.055574,-0.131967,-0.26459,-0.283443,-0.063279,-0.028525,-0.313279,-0.051148,-0.010328,...,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639
4,-0.276393,-0.055574,-0.131967,0.13541,-0.283443,-0.063279,-0.028525,-0.313279,-0.051148,-0.010328,...,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639
5,0.523607,-0.055574,-0.131967,-0.26459,0.516557,-0.063279,-0.028525,0.486721,-0.051148,-0.010328,...,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,0.223607,-0.055574,-0.131967,0.33541,0.616557,0.736721,-0.028525,0.386721,-0.051148,0.789672,...,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639
607,0.523607,-0.055574,-0.131967,-0.26459,-0.283443,-0.063279,-0.028525,0.686721,-0.051148,-0.010328,...,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639
608,0.223607,0.344426,-0.131967,0.63541,0.616557,0.536721,-0.028525,0.486721,-0.051148,-0.010328,...,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639
609,0.323607,-0.055574,-0.131967,-0.26459,-0.283443,-0.063279,-0.028525,0.286721,-0.051148,-0.010328,...,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639,-0.001639
610,0.723607,-0.055574,0.868033,0.73541,0.516557,0.736721,-0.028525,0.586721,-0.051148,-0.010328,...,0.998361,0.998361,0.998361,0.998361,0.998361,0.998361,0.998361,0.998361,0.998361,0.998361