In [1]:
import pandas as pd
from scipy import sparse
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
ratings = pd.read_csv("dataset/ratings.csv")
ratings

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [3]:
unique_user = ratings.userId.unique()
unique_movies = ratings.movieId.unique()

In [4]:
unique_movies

array([     1,      3,      6, ..., 160836, 163937, 163981], dtype=int64)

In [5]:
len(unique_movies)

9724

In [6]:
ratings_dataset = pd.DataFrame()

In [7]:
ratings_dataset['user'] = unique_user

In [8]:
ratings_dataset = pd.DataFrame(ratings_dataset, columns = unique_movies)

In [9]:
ratings_dataset = ratings_dataset.assign(user = unique_user)

In [ ]:
for row in ratings.iterrows():
    user = row[1].userId
    movie = row[1].movieId
    rating = row[1].rating
    if rating == "NaN":
        rating = 0
    ratings_dataset.at[user-1,movie] = rating

In [ ]:
ratings_dataset = ratings_dataset.set_index('user')
ratings_dataset

In [ ]:
def standardize(row):
    new_row = (row-row.mean())/(row.max()-row.min())
    return new_row

ratings_dataset = ratings_dataset.apply(standardize)
ratings_dataset

In [ ]:
item_similarity = cosine_similarity(ratings_dataset.T)
print(item_similarity)